<div class="bg-dark">
  <div class="d-flex justify-content-center align-items-center text-center">
    <div class="text-white bg-dark p-5 mt-5">
      <form [formGroup]="bookFormGroup">
        <h1 class="mb-5">Book Registration</h1>
        <div class="row mb-3">
          <div class="input-group col">
            <input class="form-control" type="text" formControlName="title" name="title" id="title"
              placeholder="Enter the book title">
            <span class="input-group-text"><i class="bi bi-book"></i></span>
          </div>
          <small class="text-danger text-start" *ngIf="isSubmiting && title.hasError('required')">*Title is
            required</small>
        </div>
        <div class="row mb-3">
          <div class="input-group">
            <textarea class="form-control" type="text" formControlName="synopsis" name="synopsis" id="synopsis"
              placeholder="Enter the synopsis"></textarea>
            <span class="input-group-text"><i class="bi bi-body-text"></i></span>
          </div>
          <small class="text-danger text-start" *ngIf="isSubmiting && synopsis.hasError('required')">*Synopsis is
            required</small>
        </div>
        <div class="row mb-3">
          <div class="input-group col">
            <input class="form-control" type="text" formControlName="gender" name="gender" id="gender"
              placeholder="Enter the literary gender">
            <span class="input-group-text"><i class="bi bi-heart"></i></span>
          </div>
          <small class="text-danger text-start" *ngIf="isSubmiting && gender.hasError('required')">*Gender is
            required</small>
        </div>
        <div class="row mb-3">
          <div class="input-group col">
            <input class="form-control" type="number" formControlName="year" name="year" id="year"
              placeholder="book year">
            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
          </div>
          <div class="input-group col">
            <span class="input-group-text">rating</span>
            <div class="btn-group" role="group" aria-label="Book rating">
              <div class="mx -100" *ngFor="let rating of ratings; let i = index">
                <input type="radio" formControlName="rating" value="{{rating}}" class="btn-check" name="btnradio"
                  id="{{rating}}" autocomplete="off">
                <label class="btn btn-outline-light" for="{{rating}}">{{i + 1}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <small class="text-danger text-start"
              *ngIf="isSubmiting && (year.hasError('required') && rating.hasError('required')); else yearCondition">year
              and rating</small>
            <ng-template #yearCondition>
              <small class="text-danger text-start"
                *ngIf="isSubmiting && year.hasError('required'); else ratingCondition">year</small>
            </ng-template>
            <ng-template #ratingCondition>
              <small class="text-danger text-start" *ngIf="isSubmiting && rating.hasError('required')">rating</small>
            </ng-template>
          </div>
        </div>
        <div class="row mb-3">
          <div class="input-group col">
            <select class="form-control" name="authorId" id="authorId" formControlName="authorId">
              <option value="" disabled selected>Author name</option>
              <option [ngValue]="author.id" *ngFor="let author of authors">{{author.name}}</option>
            </select>
            <span class="input-group-text"><i class="bi bi-person"></i></span>
          </div>
          <small class="text-danger text-start" *ngIf="isSubmiting && authorId.hasError('required')">*Author name is
            required</small>
        </div>
        <div class="row mx-auto mb-5">
          <button class="btn btn-light" (click)="save()" type="submit">save <i
              class="bi bi-box-arrow-in-right"></i></button>
        </div>
      </form>
      <h1 class="mb-5">Books</h1>
      <table class="table table-dark table-striped">
        <thead>
          <tr class="p-3">
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Gender</th>
            <th scope="col">Year</th>
            <th scope="col">Rating</th>
            <th scope="col">Author Name</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <th scope="row">{{book.id}}</th>
            <td>{{book.title}}</td>
            <td>{{book.gender}}</td>
            <td>{{book.year}}</td>
            <td>{{book.rating}}</td>
            <td>{{getAuthorName(book.authorId)?.name}}</td>
            <td>
              <button type="button" (click)="delete(book)" class="btn btn-sm btn-danger me-1"><i
                  class="bi bi-trash"></i></button>
              <button type="button" (click)="update(book)" class="btn btn-sm btn-success"><i
                  class="bi bi-pencil"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
